.neon-border {
  position: relative;
  padding: 16px;
  border-radius: 8px;
  box-shadow:
    0 0 10px #8e2de2,
    0 0 20px #8e2de2,
    0 0 30px #8e2de2,
    0 0 40px #8e2de2;
}

.neon-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  pointer-events: none;
}



.wallet-options-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.account-info,
.connect-options {
  flex: 1;
  margin-right: 20px;
}

.disconnect-button,
.wallet-option-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.disconnect-button:hover,
.wallet-option-button:hover {
  background-color: #0056b3;
}

.connection-status,
.error-message {
  margin-top: 10px;
}






/* MintNFT.css */
.mint-nft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.mint-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mint-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.mint-btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.alert {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.alert-warning {
  background-color: #ff9800;
  color: white;
}

.alert-danger {
  background-color: #f44336;
  color: white;
}

.transaction-hash, .confirming-msg, .confirmed-msg {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  width: 100%;
  text-align: center;
}
