@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './styles/custom.css';

/* SEATS */
.white_background {
    background-color: #9b9999;
    white-space: nowrap;
  }
  
  .economy {
    color: white;
    background-color: #43aa8b;
    white-space: nowrap;
  }
  
  .evip {
    color: white;
    background-color: #b3d25d;
    white-space: nowrap;
  }
  
  .Orange {
    background-color: #FF8000;
    font-size: 0.9em;
    white-space: nowrap;
  }
  
  .Green {
    background-color: #16960F;
    font-size: 0.9em;
    white-space: nowrap;
  }
  
  .Purple {
    background-color: #8E20E5;
    color: white;
    font-size: 0.85em;
    overflow: visible;
    white-space: nowrap;
  }
  
  .Pink {
    background-color: #ce518b;
    color: white;
    font-size: 0.9em;
    white-space: nowrap;
  }
  
  .Yellow {
    background-color: #FFEC00;
    font-size: 0.9em;
    white-space: nowrap;
  }
  
  .Gray {
    background-color: #8E8E8E;
    font-size: 0.9em;
    white-space: nowrap;
  }
  
  .Red {
    background-color: crimson;
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
  }
  
  .Brown {
    background-color: brown;
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
  }
  
  .Blue {
    background-color: darkblue;
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
  }
  
  .Aqua {
    background-color: rgb(92, 201, 201);
    font-size: 0.9em;
    color: rgb(10, 10, 10);
    white-space: nowrap;
  }
  
  .Beige {
    background-color: burlywood;
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
  }
  
  .Coral {
    background-color: rgb(231, 125, 86);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
  }